* {
    box-sizing: border-box;
    /*padding: 0;
    margin: 0;  */
  }
  
  body {
    font-family: Arial;
    margin: 0;
  }
  
  header {

    padding: 40px;
    text-align: center;
    background: #13293d;
    color: #fff;
    font-size: 32px;
    text-decoration:underline;
  }
  
  nav {
    display: flex;
    justify-content: flex-end;
    background-color: #627da5;
  }
  
  nav a {
    color: #13293d;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
  }
  
  aside {
    flex: 1;
    background-color: #b9c6ae;
    padding: 20px;
    border: 1px solid black;
  }
  
  section {
    flex: 3;
    background-color: rgb(235, 245, 231);
    padding: 20px;
    border: 1px solid black;
  }
  #Apps {
display: flex;
padding: 20px;
height: 200px;
border: 1px solid black;
text-align:center;
  }

  /*These are the thumbnails within the work section*/
  #app1 {
    background-color: rgb(180, 235, 216);
    background-image: url(/images/brew.png);
    background-position: center center;
    background-size:contain;
  }
  
  #app2 {
    background-color: #fff;
    background-image: url(/images/password.PNG);
    background-position: center center;
    background-size:contain;
  }

  #app3 {
    background-color: rgb(193, 223, 169);
  }

  #app4 {
    background-color: gray;
    background-image: url(/images/blog.PNG);
    background-position: center center;
    background-size:contain;
  }
  #app5 {
    background-image: url(/images/court.png);
    background-position: center center;
    background-size:contain;
  }
  
  footer {
    flex-shrink: 0;
    padding: 20px;
    text-align: center;
    background: #13293d;
    color: #fff;
  }
  
  a:hover{
    background-color:gray;
  }
  @media screen and (max-width: 768px) {
    /* Use flex-direction to stack the navbar, sidebar, and body */
    main,
    nav {
      flex-direction: column;
    }

    /* Change the header background for testing */
    header {
      background: #2f2daa;
    }
    /* Change the navbar and footer background for testing */
    nav,
    footer {
      background-color: #6676a8;
    }
  }